[2013-07-08 12:06] dimovnike opened #1 "stop() method doesnt work"
When using MediaPlayer from QML the stop() method on the MediaPlayer doesnt't work. No debug info is outputed, it seems that the function void OpenMAXILPlayerControl::stop() is not called at all.

[2013-07-08 13:01] dimovnike opened #2 "The video can't be replayed"
After the video finished playing, the play() method doesnt work. Also the CPU usage jumps to about 100%.

EDIT: after the video stopped playing the CPU usage drops, but after the play() method is used (from QML) the debug info is this:

[0;34mvirtual void OpenMAXILPlayerControl::play()
[0;37m[0;37m
Deferring play() command...
[0;37m
[0;37mProcessing post play()...
[0;37m
[0;34mvoid OpenMAXI

[2013-07-22 06:06] #1 closed, assigned to carlonluca

[2013-07-22 06:27] #2 closed, assigned to carlonluca

[2013-10-31 00:35] dimovnike opened #3 "seek() method doesn't work"

[2013-11-02 18:50] #3 closed, assigned to nobody

[2013-11-04 09:30] dimovnike opened #4 "Video.muted property doesn't work"

[2013-11-08 23:34] #4 closed, assigned to nobody

[2014-04-15 17:22] Simpl2 opened #8 "Cannot compile (missing lc_logging.h)"
lc_logging.h is still included several times

[2014-04-15 18:04] #8 closed, assigned to nobody

[2014-11-30 08:15] LongChair opened #10 "No Audio Playback when No autoPlay"
Seems that audio will start properly when using autoplay, although if i set the autoplay to false in qml component initial props and then use `play()`video will start but mostly no audio.

[2014-12-02 05:31] #10 closed, assigned to nobody

[2015-02-23 02:52] desert opened #12 "Garbage on video changed"
When using latest 4.3.0 version and Qt 5.4 (from the tar in your blog) i get garbage on screen when changing the video it looks as if there is a buffer which is not zeroed so we get noise.

     import QtQuick 2.3
     import QtQuick.Controls 1.2
     import QtQuick.Window 2.2
     import QtMultimedia 5.0

     ApplicationWindow {
     id: app
     title: qsTr("Hello World")
     width: 640
     h

[2015-02-23 03:15] desert opened #13 "Memory leaks"
Leaving the player switching between several videos, like a playlist it seems to leak about 3~5 MB on each loop, and depending on the video. Im using the Big Buck Bunny and others to test.

[2015-02-23 06:17] carlonluca commented on #12
Yes, try the no_tearing branch.

[2015-02-23 06:19] carlonluca commented on #13
Have a look at what valgrind has to say.

[2015-02-23 09:08] atr0n commented on #13
Not just playlist has an increasing memory cost but also create and destroy videoOutput object. For example, if you create a Loader in qml for multimedia features, when you access and destroy the source of this loader 2 or 3 times, then the screen goes black (and videos are never displayed again).
I suppose the there should be some non freed pointer.

For the playlist issue...It's just a bad patch

[2015-02-23 09:17] carlonluca commented on #13
PiOmxTextures is just a POC of what can be achieved and how, so I expect many leaks and issues. I never bothered to check. If you need to use in production, I suggest you run valgrind and have a closer look at what happens.

[2015-03-02 16:22] Nightmare204 commented on #13
Hi, has anybody manage this issue already? I'm trying to make a video banner like application, so I need to switch videos and had found the same memory leak problem...

[2015-03-02 17:53] atr0n commented on #13
Hi Carlon,
Is there any way to use valgrind on pc while the code is running on pi? Just like we can do with Android.
My current approach is manually deploy the binary on the pi memory.
Thanks in advance,

[2015-03-02 23:26] carlonluca commented on #13
Can you upload the logs from a few loops? My Pi is not usable to work on this but let's see if there is something I can see.

[2015-03-03 01:47] desert commented on #13
When leaving loop-playing on a small video it will eventually lock the app. When using a playlist with different videos the issue seems to be worse as it locks about 30~50% faster. I think it depends on the videos themselves.

I will leave my pi a few hours and report the log.

[2015-03-03 01:49] desert opened #14 "Raspberry Pi 2 support?"
Hi Luca,

Is the 4.3.0 working on the Pi 2?

If not, and it's because of lack of hardware to test, i can provide one or two for you.

[2015-03-03 08:11] atr0n commented on #13
Hi Luca,
I have realized that the "donate" option is not anymore avaliable from your blog. You may could reactivate it. That way we could provide you a new rpi2 for testing.

[2015-03-03 08:48] carlonluca commented on #14
Hello,
I'm sorry, as you say I don't have the hardware so I have no idea if and how it works. I'm sorry but I have many projects at the moment, so I can't guarantee time to work on it.
Did you try to use it?

[2015-03-03 08:51] carlonluca commented on #13
I think such a button never existed... as I said in #14, I can't guarantee much time on this.

[2015-03-03 13:11] Nightmare204 commented on #13
I'm using the master branch of the git.

At least in my case the loop property of the MedyaPlayer component doesn't works. Imade the loop by using the signal onPlaybackStateChanged to play the video again.
If I loop just one video (no mather the size, but same path) there's no problem.
If use a playlist and change the path (even if all the videos are copies of the same one) the mediaplayer will ev

[2015-03-03 14:00] Nightmare204 commented on #14
I have tested it in both Raspberry Pi B+ and Raspberry Pi 2, with the latest kernel (just did rpi-update yesterday on both)... and the POC works normal for hardware accelerated videos.
Now trying to make a playlist loop... that's another story being developed in "Memory leaks #13"

[2015-03-03 19:17] carlonluca commented on #14
So if it is ok for you desert I'd close this issue. Pi 2 seems to be "supported".

[2015-03-03 19:21] desert commented on #14
Yes, my  v2 will come later this week. so let's close it and if I find anything i will open another issue.

[2015-03-03 19:22] carlonluca commented on #13
The libs are in your Pi. I'm inclined to think this is a PiOmxTextures issue: as I said, I paid no attention to these issues nor I did any test. I had no practical interest in this project, it is just fun.

Ok, the output is interesting. Can you also post a minimal code that "shows" the leak issue?

[2015-03-03 19:25] #14 closed

[2015-03-03 19:26] carlonluca commented on #12
Did you have a look at that branch. Does it fix?

[2015-03-03 19:32] desert commented on #12
I have not, i do have and environment for cross compiling Qt5 and i cross compile apps on a daily basis, it is just that i cannot cross compile your project. I have interest on this, so if you would write a post or meetup with me on IRC, i can fix my cross compiling and i can help fixing stuff.

[2015-03-03 20:34] carlonluca commented on #12
I posted a few guides on the blog. This is the latest: http://thebugfreeblog.blogspot.it/2014/12/updates-on-hardware-accelerated-qt.html.

[2015-03-03 20:48] Nightmare204 commented on #13
This is the minimal code you asked for... https://dl.dropboxusercontent.com/u/46248879/QT_VideoLoop_Tests.tar
I think maybe there's no correct dispose of the buffers or tunnels that are being instantiated.
Just guessing (as I'm just starting to understand the code) but maybe when there's and event of change in the source of MediaPlayer there's no correct flush of the memory and new textures are be

[2015-03-03 21:22] atr0n commented on #13
Maybe you could take a look at "freeTexture" function (I think know is call ·"free"). I think the problem is some pointer is not correctly freed once mediaplayer is stopped.

[2015-03-04 15:58] Nightmare204 commented on #13
Checking the code in openmaxilplayercontrol.cpp, I found out that the next section of code is never called:

void OpenMAXILPlayerControl::processCommands()
{
.......
      if (command->m_playerCommandType == PLAYER_COMMAND_TYPE_FREE_TEXTURE_DATA) {
         LOG_VERBOSE(LOG_TAG, "Processing post freeTexture()...");
         PlayerCommandFreeTextureData* freeTextureCommand =
               dynamic_c

[2015-03-04 17:36] Nightmare204 commented on #13
In the function OpenMAXILPlayerControl::setMediaInt I notice the following line:

m_textureData = NULL;

If I understand correctly when I change the source property of the MediaPlayer component, it will eventually call the function OpenMAXILPlayerControl::setMediaInt, which will set NULL the m_textureData....

The functions calls is something as follows:

m_mediaProcessor->setFilename(... , m_text

[2015-03-04 23:19] carlonluca commented on #13
According to the log file reported it seems that texture data is not freed. Probably both the buffer and the texture. Free the texture data and the leak should, at lest, get smaller.

[2015-03-05 14:38] Nightmare204 commented on #13
I had compiled a version of PiOmxTextures in Verbose log level, so then the logs of debug level where not there...

I tried removing the line "m_textureData = NULL" and compiled all over again with DEBUG level.

Now I can get logs like:

08:05:32.170 INFORMATION: [0;32mCleaning up...[0m
08:05:32.171 VERBOSE: [0;37mClosing players...[0m
08:05:32.312 VERBOSE: [0;37mClosing players...[0m
08:05:

[2015-03-05 17:20] carlonluca commented on #13
I can't guarantee, but if possible I'll have a look at this in a few days. I'll work on the no_tearing branch as it is far better.

[2015-03-05 20:52] Nightmare204 commented on #13
Thanks a lot @carlonluca !!!
Just for the record, I had just tested the no_tearing branch and it only lasts 1 loop. It seems to get stucked decoding, giving the following message:

15:40:50.707 VERBOSE: [0;37mNo buffer available.[0m

But you have already warned that ("This commit breaks reopen and external controls.")...

[2015-03-09 22:35] carlonluca commented on #13
I worked a bit on the defects of the no_tearing branch and commit 4c8e999 should fix many of them. Unfortunately code still is bad and very inefficient, I had to temporarily disable the position() implementation and still there are leaks in the GPU.

However commit 4c8e999 skips the GPU cleanup and reuses the same structures for the following video. I'm currently over 250 loops of the code posted

[2015-03-10 16:41] Nightmare204 commented on #13
Thanks a lot @carlonluca for your hard work!

I had some issues with git yesterday (checkout -f didn't download all the changes), but after your https://github.com/carlonluca/pi/commit/59523ef4b59f89590b126701f4fd1b2e98d591ba commit I was able to get the repo.

Right now I have the sample minimal code in execution and it's in the loop number 520, using 1080p videos has you asked.
I overcomed the l

[2015-03-11 09:09] atr0n commented on #13
Hi,
Your code helped a lot to me. I would like to donate some money if you need a RPi.
Regards,

[2015-03-11 15:26] Nightmare204 commented on #13
24h completed! 4000 loops!...
The modifications @carlonluca made are great... Video Size can't be changed, but that's not a problem to me as I can modify the videos prior to put them in the banner...

However I guess memory leak still exists in the generation of new buffers, and that for the quick solution is reusing them...

[2015-03-12 17:21] desert commented on #13
@carlonluca I would also support you via Paypal if you need to get another pi or and cleaner power source for it.

@Nightmare204 Is there a possibility to have the last round of binaries to further test?. My OS is currently OSX and can't build it right now. However I can fully test it on a B and B+.

[2015-03-16 12:14] carlonluca commented on #13
Ok, if someone is willing to provide a Pi 2 for development and testing please contact me in private.

[2015-03-16 13:47] Nightmare204 commented on #13
@desert I'm going to upload the binaries here https://www.dropbox.com/sh/ex8gxp9myy5weof/AADPAvKulF-LeLKhycJ2p5qwa?dl=0
These binaries are for Qt5.4.2 and follow the same paths that @carlonluca.

[2015-03-17 21:11] atr0n commented on #13
@carlonluca I sent you a private message from your blog talking about the donations for your pi2 but I haven't received any reply. Did you receive?

[2015-03-18 00:13] carlonluca commented on #13
Mmh... yes yes I got it, I think I answered you... I just checked... However no problem. A Pi is on its way thanks to another Pi enthusiast who had one spare. Thanks for those who offered!

I have a few updates waiting in my branch but... my Pi keeps crashing so difficult to confirm. This isn't happening to anyone else, is it? The usb driver seems to crash somehow and the ssh connection is interru

[2015-03-19 15:29] Nightmare204 commented on #13
@carlonluca I can do the tests for you, just tell me what to check... I have one Raspberry Pi B+ in the loop test over one week and it has got to 33000 loops using 15 sec videos of 1080p resolution. I was going to change to larger videos, but I can use it to further testing...

I have a Raspberry Pi 2 which I'm working on, so It will not be a trouble to let the B+ running...

[2015-03-19 18:24] Nightmare204 commented on #13
@carlonluca: I have noticed that two mediaplayers can't reproduce at the same time with the actual approach in the no_tearing branch... however they can coexist, but one must be played just after the other stops, making it useless to have two mediaplayers.

I was going to use two players because of the lag time between video changes, as I told you in your blog... Recently you said at the blog: "Th

[2015-03-22 20:12] desert commented on #13
@carlonluca I strongly believe your freezes are because a faulty power adaptor, those chinese 2.1Amp are really very unstable. I can donate you via Paypal for a new power adaptor and a pi, just need your paypal email, please.

[2015-03-22 20:16] desert commented on #13
@carlonluca @Nightmare204 OTOH, Have you seen?
http://qt-project.org/wiki/New-Features-in-Qt-5.5

GStreamer 1.x is supported, but it does not make clear if it has hardware acceleration for the Pi, also is not enabled by default. In theory it should work, but have anyone tested yet? Last time it was rather slow, and @carlonluca 's implementation was less resource intensive.

[2015-03-22 20:21] dimovnike commented on #13
Hi guys. Last time i checked (in november i think), gstreamer compiled and worked on PI. I mean gstreamer-1.0 the gst-omx plugin and the qtmultimedia gstreamer-1.0 backend (still experimental atm). It even worked, but the image had strange ghosting, looked like one of the colors was misplaced. I am going to test it in a week or two and let you know if it works. Anyway this library here is very pro

[2015-03-23 00:00] carlonluca commented on #13
@desert Yes, https://codereview.qt-project.org/#/c/100421/ seems promising, but I'm not going to use it on Pi any time soon. Therefore sorry, I can't provide info on that.

@desert Possible but I never changed power adapter, and my Pi is up 24h without issues until I use the GPU with PiOmxTexutres... The new Pi 2 has just arrived anyway, so I'm having a look at this. Let's see how it works.

Have

[2015-03-24 08:56] carlonluca commented on #13
@Nightmare204 mmh... I'd avoid using two players at the same time. I never tested that as I supposed just one 1080p for the GPU was sufficient. Test the latest commit and see if the interval from one video to the next is better now.

[2015-03-24 17:32] Nightmare204 commented on #13
@carlonluca Testing the last commit I noticed there is more garbage at the beginning of the videos... With each change of video I got some frames like the following

2:23:12.621 VERBOSE: [0;37mCreating buffers for 4 images.[0m
12:23:12.623 INFORMATION: [0;32mBuffer created 0x1b1f930[0m
12:23:12.625 INFORMATION: [0;32mBuffer created 0x19dd5a0[0m
12:23:12.627 INFORMATION: [0;32mBuffer created

[2015-03-24 20:04] carlonluca commented on #13
Probably related to #12. I actually don't remember all those skipped frames... I have another update however that influences the frame rate, I'll see if the same happens in there or not. Thank you for testing!

[2015-03-24 20:09] carlonluca commented on #13
If you guys confirm no leaks even when changing video/resolution the no_tearing branch may be merged.

[2015-03-24 20:39] desert commented on #13
I had mixed results with the last version, @Nightmare204 can you, please, upload the binaries in order for me to test and confirm the fixed leaks?

[2015-03-24 20:40] desert commented on #13
@carlonluca About the freezes when using GPU, I still get some lockups when using GPU and high CPU usage if i have faulty power adapters, so I am still inclined to think that's the reason.

[2015-03-25 12:59] carlonluca commented on #13
@desert Possible... If possible contact me in private please. There is a form in the blog. Let me also know the result of your tests. Thanks.

[2015-03-25 14:28] Nightmare204 commented on #13
@desert I have uploaded the binaries at mi public dropbox folder (https://www.dropbox.com/s/n6r1tyuswlc9zwu/QT5.4.2%2BPiOmxTextures_4.4.tar?dl=0)

@carlonluca The time between videos has improved a lot and memory leak seem to be solved, I'm changing videos and resolution... I just started the program again so I'm at the 100 loop. but I'll let you know tomorrow...

For the frame lost I think it cou

[2015-03-25 18:15] desert commented on #13
I tested with @Nightmare204  binaries, my output is here. However I still see big gray slices and some noise at the begining of every video. I will keept it running until crash (if any).

My output when playing 3 videos:
http://pastebin.com/dMwQ2PjB

[2015-03-25 18:22] desert commented on #13
I ran them using the qmlscene with :
[code]
I still see several:
    12:16:47.131 VERBOSE: EGL image 14 created...
    12:19:59.681 VERBOSE: Creating OMX_TextureData...
    12:19:59.682 VERBOSE: Texture generated!

with the number going up and up. In my fourth video Im at 20.

Memory is freed, as my 'top' says, but not all memory is freed and keeps going up. Interestingly, I do not see the WARNING

[2015-03-25 18:30] desert commented on #13
I also notice CPU usage is about 10~12% with some spikes at 20% which I didn't notice before, that's a nice improvement!  'cause I remember it being about 40% with spikes at 50%.

[2015-03-25 22:09] carlonluca commented on #13
@desert Can you run valgrind on it? The index of the EGL image always increase it seems. Even if you kill the process.

@Nightmare204 What video are you using to test? Can you provide it? Are you using POCPlayer for testing or some different code?

[2015-03-26 18:43] desert commented on #13
@carlonluca Im using the version @Nightmare204 provided so I cannot Valgrind it yet.
These are my test files: http://io.edis.mx/pitests/ I use qmlscene to run the qml test.

Yes, the message:
    10:47:21.845 VERBOSE: EGL image 11 created...

Increases even then restarting the software, after three runs it goes thru 11.

This is a video where I constantly hit CONTROL-C and relaunch
http://youtu.be

[2015-03-26 20:36] Nightmare204 commented on #13
I checked the memory usage through top command as @desert suggested and didn't noticed relevant memory increase due to a possible memory leak... In the Raspberry Pi B+ the memory usage was 30% and in the Raspberry Pi 2 the memory usage was 9%...
However I'm using a program where I create two video surface (video output + mediaplayer) but I was using just one, so the memory usage of my program is s

[2015-03-26 20:48] Nightmare204 commented on #13
@carlonluca I forgot to reconfirm you that it is impossible to play two videos at the same time, even when, as far as I understand, each mediaplayer crates it's own buffers.
With the code of master branch two videos can be played at the same time, but obviously the memory leaks duplicates and the program crash sooner.

[2015-03-26 20:49] desert commented on #13
Interesting, I still get bad frames. And then I got: http://pastebin.com/p4uxKmP1

Could this be a problem of my binary, I got it from: (https://www.dropbox.com/s/n6r1tyuswlc9zwu/QT5.4.2%2BPiOmxTextures_4.4.tar?dl=0

Just in case these are my MD5, are those the same as you @Nightmare204 @carlonluca?  Should be at least identical to @Nightmare204

[code]

[2015-03-26 20:57] desert commented on #13
Also, I uploaded a video of my artifacts and grayboxes here (taken just 5 minutes ago): https://www.youtube.com/watch?v=e1_N6W3ZiKs

Also you can see a gray box at the beginning here: https://www.youtube.com/watch?v=8PYOIbh0X1I

[2015-03-26 21:10] dimovnike commented on #13
From what I tested a couple of months ago, those video artifacts at the beginning are caused by the m_omx_reader->SeekTime(0, true, &startpts) . In revision 023f35087020492bc9 its omx_mediaprocessor.cpp line 394. Can someone check this again?

[2015-03-26 22:00] Nightmare204 commented on #13
@desert I'm running right now your qml with qmlscene, and your videos... I don't get those artifacts or grayboxes... however I get the bad frames with the video test.mp4, but I think it is due to the video...

I haven't experienced the broken pipe problem when using PiOmxTextures...
The checksums corresponds to the files I have in my Pi and in the sysroot at the host.

The only advise I can give y

[2015-03-26 22:04] desert commented on #13
@Nightmare204 So maybe you had recompiled, I did put my md5sums to check if those are the same as yours, can you confirm?, If they aren't and you are so kind to upload a new version I can re-download again and test with my setup. BTW, my setup is on a non-overclocked B+ with latest Raspbian (via dist-upgrade a week ago).

The broken pipe was due to a full system freeze, I was on a SSH remote termi

[2015-03-26 22:07] desert commented on #13
@dimovnike I checked  023f350, found no such line.

[2015-03-26 22:10] desert commented on #13
However: https://github.com/carlonluca/pi/blob/023f35087020492bc91db22ee5813dd390c45dbd/omx_mediaprocessor.cpp#L393

Contains:
[code]

[2015-03-26 22:13] desert commented on #13
@Nightmare204 Just to be complete:
[code]

[2015-03-26 22:14] dimovnike commented on #13
commit 023f35087020492bc91db22ee5813dd390c45dbd
Author: carlonluca <carlon.luca@gmail.com>
Date:   Wed Jun 4 01:01:03 2014 +0200

    Changed setup when building PiOmxTextures against ffmpeg. Improved PiOmxTextures test application and POCPlayer to include code to test animations performance while playing video.

and then:
cat -n omx_mediaprocessor.cpp  | grep 394 -A5
   394        if (!m_omx_read

[2015-03-26 22:19] desert commented on #13
@dimovnike Yes, but I think that should bring the LOG_WARNING to console, which I dont see, or maybe it always returns true.

@Nightmare204 I re-checked my qmlscene an even removed my other Qt 5.1.1, same thing happens with http://io.edis.mx/pitests/test.mp4 artifacts, but it plays fine in VLC, DragonPlayer and nested in Chrome.

[2015-03-26 22:21] dimovnike commented on #13
yes that line actually works, returns true but, at least for me - it was causing exact the same artifacts.

[2015-03-27 00:05] Nightmare204 commented on #13
@desert md5sum you sended are the same I got. That confirms you have the same version than I do. (Recompiling changes the checksum)

I tried to add black frames at start and end of your test.mp4 video but had problems with the codification of it...
Does the artifacts and bad frames happen to you with all the videos/resolutions/extensions? Have you tried other videos than those 4?

[2015-03-27 00:28] desert commented on #13
I downloaded the MP4 from here from own account: https://www.youtube.com/watch?v=jCvPUizTrNk

An used it then, I still get some gray halos and artifacts in the corner as seen here:  https://www.youtube.com/watch?v=yHHCgH4r_Ww

[2015-03-27 00:30] desert commented on #13
And this is the output log, I named the video test.mp4, just like the other http://pastebin.com/FfpJYAT9

[2015-03-27 00:34] desert commented on #13
I have uploaded the new test video to the same place (http://io.edis.mx/pitests/ ) It's "2.1 mov soc 14.mp4"

[2015-03-27 00:35] desert commented on #13
@Nightmare204 If we have the exact version what i can think of is only about external stuff, like kernel, firmware versions and those. Can anybody else confirm you have no artifacts or gray screens with my test videos?

[2015-03-27 15:29] desert commented on #13
I left my pi running since yesterday, and for the first time ever, it did not crash! But I still see the artifacts: https://www.youtube.com/watch?v=yHHCgH4r_Ww

[2015-03-27 22:13] Nightmare204 commented on #13
@desert You forgot to give permissions to download the video "2.1 mov soc 14.mp4"... the server responds "You don't have permission to access /pitests/2.1 mov soc 14.mp4 on this server."

However I downloaded it from youtube (using www.clipconverter.cc)
- The downloaded video showed the gray halo at start as you posted.
- I fixed the video adding black frames at start and end of it, with the bash

[2015-03-27 22:23] carlonluca commented on #13
@Nightmare204 Yes, I see at least one possible reason for which it is not possible to render two videos at the same time with the no_tearing branch. It can be fixed (and it should be). But probably not a priority as I don't think the GPU can handle two 1080p at the same time. Probably not even 720p...?

Ok, I guess no one can confirm there are still leaks. Therefore I close the report. I'll try to

[2015-03-27 22:23] #13 closed

[2015-03-27 23:59] desert commented on #13
@carlonluca The Pi can indeed, handle two and even three videos in 720p.

[2015-03-28 00:02] carlonluca commented on #13
Interesting... don't know how many are interesting in this but it may be another todo.

[2015-03-28 01:49] desert commented on #13
In my case, I don't need to play videos simultaneously, however multiple players launching at different times is a good pattern to implement useful components.

[2015-03-28 08:08] carlonluca commented on #13
Possible. Open another issue. If possible I'll try to fix.

[2015-03-28 14:18] Nightmare204 opened #15 "Simultaneus Videos"
Master branch allows to play videos simultaneously by using multiple players, but still has the memory leak problem...
No_Tearing branch allows **just one** media player at a time.

Simultaneous videos are not always neccesary but  that would allow useful components like one video fading into another, video comparing, video chat, etc...

[2015-03-28 14:58] Nightmare204 opened #16 "Support Audio via 3.5mm jack"
Right now PiOmxTextures plays audio only through HDMI, even if you try to force it via 3.5mm ('headphone') jack configuring it with raspi-config.
It would be nice if the audio output could be selected or followed the configuration of the raspberry.

[2015-03-28 18:04] carlonluca commented on #12
Can someone confirm that no_tearing branch no more shows artifacts when video starts?

[2015-03-29 18:37] desert commented on #16
Yes, specially since there are some HMDI to VGA converters, and you loose audio.

[2015-03-29 18:59] desert commented on #12
I have used several videos with the binaries provided by @Nightmare204 but all of them have garbage at the beginning, either gray screens or artifacts. He says we need to fix the videos with a black frame but all of the videos display fine in all other players, I still think this is a bug.

Maybe the frames in the lib need to be internally set to pure black at the very beginning in order to avoid

[2015-03-29 19:33] carlonluca commented on #12
I uploaded a fix for this. Check the commit logs and let me know.

[2015-03-30 21:10] desert commented on #12
I used the no_tearing branch, compiled my own Qt 5.4.1 and I still see a gray screen and artifacts. Commit: 59523ef4b59f89590b126701f4fd1b2e98d591ba

[2015-03-30 21:14] desert commented on #12
I can also see this gray box when not playing, the trace is (this is my own compiled version)

[code]

[2015-03-30 22:23] carlonluca commented on #12
That commit is old. Check the logs. Use the latest in no_tearing. Master is merged anyway, so you can also use latest master.

[2015-03-31 00:29] desert commented on #12
With master Im getting linker errors:
[code]

What *-dev libs do you need into the sysroot?

[2015-03-31 00:55] desert commented on #12
Well I just commented out those linked libs and it runs.

I see no artifacts, but I still see a gray flash on every video and a neverending console output  like this which takes a lot CPU usage:

[code]

[2015-04-01 05:27] carlonluca commented on #12
You are missing libs. Logs can be disabled with a macro. Look at the Light logger header for more info.

[2015-04-01 15:55] Nightmare204 commented on #12
@carlonluca I have tested the master branch as it has the latest commit and I can assure the video start improved a lot!!!
Not only I don't get garbage, no halos or artifacts, but also the time between videos is lower (like 1 sec)...
I still get some lost frames in a pair of [Videos](https://www.dropbox.com/home/Public/Videos); I would appreciate if you confirm it's a problem of the videos itself

[2015-04-01 17:58] desert commented on #12
@Nightmare204 I just compiled master, I tried to test your videos but the link is broken.

[2015-04-01 21:11] carlonluca commented on #12
@Nightmare204 I can't get the videos too. Ah yes, the position implementation was hardlocking for some reason. Yes, open a quick issue. I'll have a closer look, thanks.

[2015-04-01 21:21] carlonluca commented on #12
@desert Can you provide the video that shows the gray flash?

[2015-04-01 22:39] Nightmare204 commented on #12
Please try this [Link](https://www.dropbox.com/sh/bwprnaz4aq2jfhq/AACR7siMhquB_wbIFD0mzs5Za?dl=0) for the videos...

[2015-04-01 22:41] carlonluca commented on #16
What about both?

[2015-04-01 22:43] Nightmare204 opened #17 "Position implementation disabled"
The position implementation in the No_Tearing branch was disabled because it was hardlocking.
That branch was merged to Master before fixing this bug and so the position is still disabled.

[2015-04-03 21:52] carlonluca commented on #12
I guess this bug is closed then. Unless @desert can provide a video that shows the issue. In case just reopen this issue.

[2015-04-03 21:52] #12 closed

[2015-04-04 15:32] Nightmare204 commented on #16
If audio comes out via both (HDMI and Jack) at the same time I don't think that would be a problem.
For those cases where you lose the audio through HDMI because of a converter this could be a solution...

[2015-04-05 01:30] carlonluca commented on #16
#4591c30 should solve this issue. Reopen if it is not fixing this.

[2015-04-05 01:30] #16 closed

[2015-04-05 10:44] carlonluca commented on #17
Fixed. Seems to work now. Reopen if something wrong happens again.

[2015-04-05 10:44] #17 closed

[2015-04-06 10:53] inadsan opened #18 "Build"
Hello,
With the previous version everything worked well for me.
I have a question about the building system.

I compiled everything and piomxtextures_app working properly.
From a QML and qmlscene me now does not work.
I have the built and in place piomxtextures_qt_driver.
Is the patch qtmultimedia needed?

With patch:
12:36:09.836 VERBOSE: Instantiating player service...
12:36:09.838 VERBOSE: Inst

[2015-04-06 11:28] carlonluca commented on #18
Yes, patching qt multimedia is still needed.

[2015-04-06 11:29] carlonluca commented on #18
But it is not necessary to build inside qt sources and link to an external shared lib.

[2015-04-06 12:15] inadsan commented on #18
ok, is necessary but not the last part of building libopenmaxilmediaplayer.so
which is made from your project.
Have I understood correctly?
I'll keep looking to see what my problem.
Thank You

[2015-04-06 13:03] carlonluca commented on #18
Patch qt multimedia, build it and then build the rest of PiOmxTextures, including the driver.

[2015-04-06 15:29] #18 closed

[2015-04-06 21:59] Nightmare204 commented on #17
Tested.... and now It's working

[2015-04-06 22:00] Nightmare204 commented on #16
It's working Perfectly... Great work @carlonluca

[2015-04-06 22:01] carlonluca commented on #17
Great! Thank you!
Il 06/Apr/2015 23:59, "Nightmare204" <notifications@github.com> ha scritto:

[2015-04-07 22:12] dimovnike opened #19 "no video with provided binaries"
Deleting this file /usr/local/Qt-rasp-5.4.1/plugins/mediaservice/libgstmediaplayer.so fixes video issues. Is this normal?

[2015-04-07 22:21] carlonluca commented on #19
Yes, that is the gstreamer plugin. The default plugin on Linux. You have to select the one based on PiOmxTextures.

[2015-04-07 22:21] #19 closed

[2015-04-08 04:47] dimovnike opened #20 "build instructions not working (not possible to build)"
the build instructions on the blog are not working, i tried different order of operations but still no luck. Any chance something is missing there?

[2015-04-08 05:07] dimovnike commented on #18
Im trying to compile it too, but the patched qtmultimedia doesn't compile, it says about missing openmaxil.pro file. What am I doing wrong? Thank you.

[2015-04-08 06:31] dimovnike commented on #20
in the end it built some how, but I don't know what exactly i did. Looks like you need to build qtmultimedia with gstreamer first, then build piomxtextures_qt_driver, make install it, and then patch the qtmuiltimedia, run qmake with -nocache, clean it and rebuild.

[2015-04-08 06:32] dimovnike opened #21 "muting a video from QML crashes the app"
the app exits when mute property is used from QML, the app exits with:

06:29:09.189 DEBUG: Entering: virtual QMediaPlayer::State OpenMAXILPlayerControl::state() const.
06:29:09.190 DEBUG: Entering: virtual QMediaPlayer::MediaStatus OpenMAXILPlayerControl::mediaStatus() const.
06:29:09.191 DEBUG: Entering: virtual QMediaPlayer::MediaStatus OpenMAXILPlayerControl::mediaStatus() const.
QDeclarativeA

[2015-04-08 07:24] inadsan commented on #18
removes the last part of the patch or do not use the define + = raspberry to build qtmultimedia
Now the driver is constructed by qt outside the project.

[2015-04-08 11:19] carlonluca commented on #20
Yes, the qtmultimedia patch tries to build the backend, but this is not the case anymore with the new build procedure. I'll fix that.

[2015-04-08 11:21] carlonluca commented on #18
Yes, #20 reports that. I'll fix this.

[2015-04-08 11:41] carlonluca commented on #20
Should be fixed now. Reopen if you still encounter issue while building.

[2015-04-08 11:41] #20 closed

[2015-04-08 13:15] dimovnike opened #22 "Video colors are degraded when using this library"
The colors of the video are degraded. The gradients, which are otherwise shown fine in omxplayer, appear with reduced color depth (gradients are shown as stripes). I tried with QT_QPA_EGLFS_DEBUG=1 and QT says 24bit however I suspect the color depth is even lower. Let me know if pics would help, or if you need other information about this.

[2015-04-08 13:16] dimovnike commented on #22
can someone confirm that this still fixes the low color depth issues http://thebugfreeblog.blogspot.ro/2012/11/32-bit-color-depth-qt-on-raspberry-pi.html?showComment=1428446883898#c3127471068375151835 ?

[2015-04-08 13:18] dimovnike commented on #22
also note that QT completely ignores QT_QPA_EGLFS_DEPTH variable

[2015-04-08 13:47] atr0n commented on #22
You have to set it manually using QSurfaceFormat on your main.cpp. You could something like this:

    QSurfaceFormat curSurface = viewer.format();
    curSurface.setRedBufferSize(8);
    curSurface.setGreenBufferSize(8);
    curSurface.setBlueBufferSize(8);
    curSurface.setAlphaBufferSize(8);
    viewer.setFormat(curSurface);

I think this issue can be closed since it's not related with the for

[2015-04-08 18:04] desert commented on #21
I tried to compile latest to test this and Im getting crashes regarding
```../piomxtextures_src/omxplayer_lib/SubtitleRenderer.cpp:428:33: error: ‘DISPMANX_STEREOSCOPIC_MONO’ was not declared in this scope```

What was changed?

[2015-04-08 20:55] carlonluca commented on #21
@desert That is not a crash. That is a compiler error related to outdated headers. Update your firmware.

[2015-04-08 21:00] desert commented on #21
Sure, bad word,  my bad.  But you just gave me the answer. I will update my firmware.

[2015-04-08 21:43] carlonluca commented on #22
Ah yes, that is probably the best way to set color depth. Thank you @atr0n!
Related to the EGL setup however. I'll set the depth of the POC player to 24 bits for reference.

[2015-04-08 21:43] #22 closed

[2015-04-08 22:45] carlonluca commented on #21
@dimovnike I just tested the mute API and I didn't get any crash. I added a mute button in POCPlayer if you want to try that. Seemed to work for me.

[2015-04-08 22:46] carlonluca commented on #21
Btw, volume was unimplemented instead for some reason... I quickly added that as well.

[2015-04-09 02:00] desert commented on #21
I was using the POC player now named piomxtextures_app, somehow by pushing randome keys too fast it crashes. I say this because y do not see any exit button in main.qml my log is:
[code]

[2015-04-09 02:00] desert commented on #21
Yay! I found it.

If you hit stop, then seek, it crashes.

[2015-04-09 02:02] desert opened #23 "Stop a video, then seek, then crash and other crashes when stopped"
In the piomxtextures_app if you stop the video, then seek, it crashes. I guess it goes beyond, and applies  to any player doing those commands in that order.

UPDATE:
- The piomxtextures_pocplayer also crashes when hitting play and no video is loaded.

[2015-04-09 08:40] atr0n commented on #23
It may be due to openmaxilstreamscontrol is not implemented, right?
Maybe playbackState is not sending playbackStateChanged() signal when the video stops and then, Qt tries to seek on closed file.

[2015-04-09 09:35] dimovnike commented on #23
Ah yes, it might be the seek because where i do mute i do seek() too. Will do more tests and get back.

[2015-04-09 10:18] dimovnike commented on #23
correction: looks like seek and mute are different bugs, because in one of the tests I only commented mute part in QML and there are no crashes anymore, however after some seek() calls video becomes laggy.

[2015-04-09 10:30] dimovnike opened #24 "compiling piomxtextures_qt_driver requires super user permissions"
running make in piomxtextures_qt_driver requires super user permissions, looks like it is doing also make install. Below is the error.

mv -f libopenmaxilmediaplayer.so /usr/local/qt-5.4.1/plugins/mediaservice/
mv: inter-device move failed: ‘libopenmaxilmediaplayer.so’ to ‘/usr/local/qt-5.4.1/plugins/mediaservice/libopenmaxilmediaplayer.so’; unable to remove target: Permission denied
Makefile:319:

[2015-04-09 11:31] dimovnike commented on #22
yes this solves it! it increases CPU usage with about 5% (on a 720p video). Thank you!

[2015-04-09 12:52] carlonluca commented on #24
Sufficient to change the permissions of the Qt dir.

[2015-04-09 13:00] dimovnike commented on #24
its a bit of security issue  but I'll close it, there are more important bugs now (the one with mute and seek).

[2015-04-09 13:00] #24 closed

[2015-04-09 14:15] dimovnike commented on #21
this simple QML crashes it (about 9 times from 10) the crash happens regardles of autoPlay.

[code]

the log is as before:

QML debugging is enabled. Only use this in a safe environment.
Unable to query physical screen size, defaulting to 100 dpi.
To override, set QT_QPA_EGLFS_PHYSICAL_WIDTH and QT_QPA_EGLFS_PHYSICAL_HEIGHT (in millimeters).
14:14:36.556 VERBOSE: Instantiating player service...
14

[2015-04-15 22:29] carlonluca commented on #21
Should be fixed now. Reopen if you still see issues.

[2015-04-15 22:29] #21 closed

[2015-04-19 11:00] carlonluca commented on #23
Seems to be fixed. Can someone double check?

[2015-04-19 11:00] #23 closed

[2015-04-19 13:44] carlonluca commented on #23
If you want to also test stability of the seek implementation you can use POCPlayer. I added a --seektest param:

`./piomxtextures_pocplayer --seektest <uri>`

that will perform a never ending seek.

[2015-04-19 21:23] carlonluca commented on #23
I stopped the test after 3664 seeks. No issue registered. Seek by itself seems to be ok. Reopen if you still get some crash.

[2015-04-29 01:32] dimovnike opened #25 "Closing the QQuickView results in a crash"
When calling close() or deleteLater() on the QQuickView object the app results in a crash, e.g. see the follosing code:

    qDebug() << "start";
    qmlView->close();
   // CRASH HERE
   qDebug() << "close() invoked";
   qmlView->deleteLater();
   qDebug() << "deleteLater() invoked";

Disposing the object is needed because QT doesnt allow to mix EGL and non-EGL windows, it produces this error "EG

[2015-04-30 04:53] dimovnike commented on #25
More tests showed that this only affects a running video, if I pause video in QML before calling deleteLater() it works good (the object is properly destroyed as i get the destroyed() signal).

[2015-05-06 01:33] dimovnike opened #26 "Out of order frames (going back and forth)"
I sometimes notice a strange thing, video starts going back and forth for a while, it can be seen here https://youtu.be/HUmVEoqYGH0?t=30 (right at this time).

[2015-08-10 19:48] lukas-hetzenecker opened #27 "Crash after playing a paused video"
I'm using POT 4.5.1 for Raspberry Pi 2 and whenever I try to play a paused video the application crashes with the following error:
```/home/luca/project/pi/pi/piomxtextures_src/omxplayer_lib/OMXVideo.cpp:81: OMX_ERRORTYPE fill_buffer_done_callback(OMX_HANDLETYPE, OMX_PTR, OMX_BUFFERHEADERTYPE*): Assertion `provider->registerFilledBuffer(pBuffer)' failed.```

The full output is provided here:

[cod

[2015-08-10 22:15] carlonluca commented on #27
Did you also try with POCPlayer? Click on the surface to get the controls and try to pause/play the video. Do you get a crash?

[2015-08-10 22:16] carlonluca commented on #15
Should be available in the new version 4.5.0.

[2015-08-10 22:24] lukas-hetzenecker commented on #27
yes, exactly the same crash happens with the pocplayer

[2015-08-12 17:51] carlonluca commented on #26
Could you have a look at this one: http://we.tl/a7j9fvdufK.

[2015-08-12 17:52] carlonluca commented on #27
Could you please have a look at this version of the library: http://we.tl/a7j9fvdufK. This is the version for Pi1, so use this with the Pi1 package.

[2015-08-19 13:48] Nightmare204 commented on #27
@carlonluca I made test with several versions:
- Qt5.4.2 compiling the plugin from sources --- OK
- Qt5.5.1 compiling the plugin from sources --- OK
- Qt5.5.0, using the binaries provided in the blog for RPi 2 -- Crash
- Qt5.5.0, using the binaries provided in the blog for RPi 1, changing the plugin for the one in the link -- OK

So I guess the problem is related to the improvements you made at th

[2015-08-19 13:51] lukas-hetzenecker commented on #27
Thanks for testing @Nightmare204 - i unfortunately hadn't time to test the provided binaries yet

[2015-08-19 13:54] carlonluca commented on #27
Yes, only the optimised version should be bugged.

[2015-08-19 13:55] Nightmare204 commented on #26
@carlonluca The video tremmor can be notice easily when you pause/play continuously one video.

In the tests made to the issue #27 I don't notice this problem anymore when I use the plugin you attached for the RPi1 version and the binaries uploaded as PiOmxTextures 4.5.0.

[2015-08-19 13:58] carlonluca commented on #26
Are you sure you can't reproduce with 4.5.0 Pi1 version? It should be fixed in Pi2 version (which is affected instead by #27).

[2015-08-19 15:29] Nightmare204 commented on #26
Well.. I'm making some extra test right now, using only the 4.5.0 Pi1 version, and until now I hadn't seen the video tremmor (with plugin compiled from git sources it does)... could it has to do with some specific video format?

[2015-08-19 16:03] Nightmare204 opened #28 "Qt freezes when starting video"
I don't know if this is a PiOmxTextures issue or not.
Whenever a video starts (play) QtQuick freezes. This happens by one second at most, but it can be noticed if you make a loop of a short video.

I guess this has to do with a peek in CPU usage to get the video buffers clean and start again.

If this is something unavoidable at expense of taking a longer time starting the video, which configurati

[2015-08-19 16:05] Nightmare204 commented on #28
By the way I'm using htop and also Rpi-monitor and CPU usage seem to be stable, but if there are very short CPU usage peek I'm guessing those can't be seen with these tools

[2015-08-19 16:10] carlonluca commented on #28
Yes, this is the case because opening the video file is done in the same thread. Fixing this requires some work, and I can't guarantee the result.

[2015-08-19 16:13] Nightmare204 commented on #26
No video tremmor at all. But I guess @dimovnike would be the best to test this. BTW @carlonluca: isn't the link you provided (http://we.tl/a7j9fvdufK) related to the PiOmxTextures 4.5.0 for the RP1 version? That's the one I'm using...

[2015-08-19 19:28] carlonluca commented on #26
The important thing is that the last binary provided above is OK. That binary is a development build for both versions. No armv7 optimizations.

[2015-08-29 09:29] carlonluca commented on #26
Version 5.0.0-beta1 should fix this. Reopen if necessary.

[2015-08-29 09:29] #26 closed

[2015-08-29 09:29] carlonluca commented on #27
Version 5.0.0-beta1 should fix this. Reopen if needed.

[2015-08-29 09:29] #27 closed

[2015-08-29 09:31] carlonluca commented on #28
Version 5.0.0-beta1 should use a aux gl context to avoid blocking the Qt renderer thread. Let me know if it is the expected behaviour.

[2015-08-31 15:31] Nightmare204 commented on #15
I just forgot to mention here that I had tested version 4.5.0 with more than 2 videos at the same time without problem (4 actually).
Of course the amount of simultaneous videos is proportional to the memory split dedicated to GPU and also to the frame size.
No problem with different video frame size at all.

However some test showed me that pausing one video or stopping it, sometimes the other vid

[2015-09-07 15:39] Nightmare204 opened #29 "Crash when changing video - V5.0.0"
I just updated to PiOmxTextures 5.0.0 Beta for RPI 2.

When changing videos I noticed the application started to crash.
This just happens with 2 of the test videos I use.

The secuence is as follows:
- Videos reproduce normal.
- I change to the problem video and it reproduces normal.
- Then I change to another video.
- Again I change to the problem video and it reproduced badly (several frame drop

[2015-09-07 16:11] Nightmare204 opened #30 "Changing Video shows video jump - V5.0.0"
I have the following code to change the playing video:

    function changeVideo(path)
    {
        archivo = path
        askedStop = true;
        videoPlayer.stop()
        videoPlayer.source = archivo
        videoPlayer.play()
    }

When the video change a jump back in the video can be seen.
I guess the index of the frame being shown is changed to the first one again, but it is done before

[2015-09-07 16:29] Nightmare204 commented on #28
V5.0.0-Beta1_PI1 --- Video Change is really Smooth and doesn't freeze the rendering thread.
V5.0.0-Beta1_PI2 --- Same that with V5.0.0-Beta1_PI1

GREAT WORK. THANKS!

[2015-09-07 16:29] #28 closed

[2015-09-07 16:31] Nightmare204 commented on #29
Tested with V5.0.0_Beta1_PI1 and also V5.0.0_Beta1_PI2.... It happens in both versions

[2015-09-07 17:02] Nightmare204 opened #31 "Can't Restart if stopped at beginning - V5.0.0"
If I start a video (play) and stop it, immediately after it starts the video stop responding to play command.

[code]
However the logs says "Decoding thread started" but no video is shown.

The only way to get video again is to change the source.

I know start/stop a video in such a stressful way is not meant to be done, but I found the bug testing different things.

[2015-09-07 17:24] Nightmare204 commented on #31
This doesn't happen with PiOmxTextures 4.5.0

[2015-09-07 18:20] carlonluca commented on #31
You mean that you play() and stop() in two consecutive instructions?

[2015-09-07 20:02] Nightmare204 commented on #31
Kind of.
I'm using buttons, so the instructions are not consecutive in code, but separated for a minimum amount of time. Actually I press play, and 1 sec after I press Stop. These buttons just call play() and stop().
I you want I can upload the QML.

[2015-09-07 21:03] carlonluca commented on #31
Ok, then a pretty common use case actually. I'll take care of this. Thanks for reporting.

[2015-09-09 12:24] sinadogru opened #32 "MediaPlayer.loops property now working - V5.5.0"
When I try to loop a video infinitely, after the first play it just stops and do not replay the video.

If you like to mimic this here is the simple code,

import QtQuick 2.0
import QtMultimedia 5.0
import QtQuick.Window 2.0

Window {
    visible: true

    MediaPlayer {
        id: player
        source: "file:///home/pi/Videos/big_buck_bunny_1080p_h264.mov"
        loops: MediaPlayer.Infinite

[2015-09-10 22:15] carlonluca commented on #32
I'll take care of this. In the meantime you can loop using the stopped signal.

[2015-09-11 13:03] sinadogru commented on #32
Alright Thank you,

I have done like it and its working,

onStopped: {
    player.stop();
    player.play();
}

[2015-09-13 12:49] carlonluca commented on #29
Sorry, not able to reproduce this. Can you reproduce this with POCPlayer?

[2015-09-13 13:57] carlonluca commented on #30
Beta 2 should fix this.

[2015-09-13 13:57] #30 closed

[2015-09-13 13:57] carlonluca commented on #31
Beta 2 should fix this.

[2015-09-13 13:57] #31 closed

[2015-09-13 13:57] carlonluca commented on #32
Beta 2 should fix this.

[2015-09-13 13:57] #32 closed

[2015-09-14 07:21] sinadogru opened #33 "Replay video makes animation lag"
Hey,

on the same screen while playing video and have another elemnt which plays animation get lags when the video replay.

here is a sample code to reproduce;

import QtQuick 2.2
import QtQml 2.0
import QtQuick.Window 2.1
import QtMultimedia 5.0

Rectangle {
    width: 1920
    height: 1080
    id: root
    objectName: "root"
    visible: true
    color: "black"
    property int level: 0

    Vid

[2015-09-14 13:19] keytee opened #34 "Crash when GL error"
Sometimes when QML MediaPlayer object source has changed (load a new video) it drops gl error:

[code]
**.... crash....**

glError is handled in */pi/piomxtextures_src/omx_textureprovider.cpp*, function *check_gl_error()*.
const char *error and error = "STRING" crashed...

**Changed to this and its fixed:**

[code]

Thanks for your great work Luca,

Tibor

[2015-09-14 13:54] Nightmare204 commented on #29
I have just tested it with POCPlayer. It happens just with the POCPlayer included with the binaries of V5.0.0_Beta1_PI2 (But it seems to me like Beta1_PI1 includes an old version of POCPlayer because it lacks of some other problems I reported with V5.0.0)

As I reported, this problem happens with just some videos, but it seems to be a bug because it didn't happen early with same sources.

[code]

[2015-09-14 13:55] Nightmare204 commented on #29
@carlonluca Have you tested with the video I shared?

[2015-09-14 16:08] carlonluca commented on #33
What version are you referring to?

[2015-09-14 16:13] keytee commented on #33
Hello. Same here. Also when changing source. Is there any way to do .source change of a video in async mode? (lattest version, just cloned from the git.)

[2015-09-14 16:14] carlonluca commented on #34
Oh yes, thanks, err was supposed to be error. Thanks, I'll fix in the next version.

[2015-09-14 16:14] #34 closed

[2015-09-14 16:15] carlonluca commented on #34
It is actually already fixed in the binaries. You shouldn't get a crash there.

[2015-09-14 16:16] keytee commented on #34
I''m not using the binaries. Recompiled from git.

[2015-09-14 16:17] carlonluca commented on #29
Yes, I tested that video. Not sure why, you can try beta2 and see if something has changed... but I couldn't reproduce so I did nothing specific.

[2015-09-14 16:18] carlonluca commented on #34
Yes, git is pretty old actually as you can see from the dates. The binaries have better performance.

[2015-09-14 16:20] carlonluca commented on #33
It is async in the binaries. Since 5.0.0 it was improved.

[2015-09-14 16:21] keytee commented on #34
Ahh. Is there any chance that you'll commit the changes to git? I'm compiling directly on an rPi with custom 5.3.2 (debian jessie) QT5

[2015-09-14 16:22] carlonluca commented on #34
Yes, unfortunately I had problems with my git branches locally.

[2015-09-14 16:28] keytee commented on #34
Pure (not git) sources will be fine for me :D

[2015-09-14 18:08] carlonluca commented on #33
So you mean the animation interrupts while opening a new media? In that case it is normal as setting the media results in POT reading it, parsing the container, creating players etc...
Some improvements can be found in >= 5.0.0 as this is no more done in the renderer thread. Still I expect not a perfect animation on Pi1, which is single core. Maybe better on Pi2.

[2015-09-14 19:36] Nightmare204 commented on #29
the crash always gives as final message
[code]

Could it be that I lack of some library for some codec?...

[2015-09-14 20:10] carlonluca commented on #29
Video codec is h264, so it is provided by the pi. aac should be in ffmpeg, I provided it.
How much memory are you assigning to the GPU? Can you try beta2? Something changed that may influence that assert.

[2015-09-14 20:12] carlonluca commented on #33
Probably a dup of #28.

[2015-09-14 20:42] sinadogru commented on #33
Hello,

I was out out of for shopping. For example, when I am looping a video, every time when it start over (seek(0)) screen got a bit of lag, for example if I have an animated scrolling text like on billboards, it gets lag.

Yes I've just viewed issue #28 and it looks like duplicate actually. I was using V4.5.1 and forgot to write it to title. I am sorry.

I am just a bit tired so I will check t

[2015-09-14 20:45] carlonluca commented on #33
In this case yes, testa 5.0.0 beta2.

[2015-09-14 21:14] sinadogru commented on #33
Alright, I will check it and I will give feedback.

Thank you.

[2015-09-16 10:45] pavelliavonau commented on #29
This bug reproduces every time in my case. I've made the test for it. I don't use POCPlayer. So I see that only piomxtextures_pocplayer has changed in beta 2 since beta 1 (5.0.0 Pi2).

Here you can find the sources of my test.
https://yadi.sk/d/7vKfQb-Cj84Po

Here you can find the video files for test (/video/adv1 and /video/adv2)
https://yadi.sk/d/pAbT6D9xiXkgF

In testing first and second playba

[2015-09-16 18:29] #33 closed

[2015-09-16 18:30] carlonluca commented on #33
Reopen if needed.

[2015-09-18 09:44] sinadogru opened #35 "Crash on cross compiling - V5.0.0 beta 2"
Hello,

I am actually do not sure if this is a bug or not but I would try to explain my situation.

I was using POT 4.5.1 with cross compiling. Everything was great but I had some issues and those was resolved on V5.0.0. So I wanted to try it. I have clean whole POT 4.5.1 from my host and build new SD card with POT 5.0.0 binaries like i did for 4.5.1.

I setted up host computer same as I did befor

[2015-09-18 10:03] sinadogru commented on #33
Yes beta 2 fixed it. Thank you.

[2015-09-19 12:29] carlonluca commented on #35
Don't know about Qt Creator, but did you read the note in the blog article about beta1?

[2015-09-19 13:48] carlonluca commented on #35
I'll temporarily close this. Reopen if setting the shared context is not sufficient.

[2015-09-19 13:48] #35 closed

[2015-09-19 20:01] sinadogru commented on #35
Ah I am sorry to bother you but what is that mean "shared context"?

Also yes, I have just checked your red colored note on your blog, it is also about shared context I guess? but I dont have any idea about how is it possible to enable the global shared OpenGL context?

[2015-09-19 20:01] sinadogru commented on #35
Also as I see you changed the binaries for beta2. I was trying to use beta2 binaries actually.

[2015-09-19 20:03] dimovnike commented on #35
for the shared context:  in your QT app, just before calling creating Qapplication (QApplication a(argc, argv) usually in your main.cpp) call

    QCoreApplication::setAttribute(Qt::AA_ShareOpenGLContexts);

[2015-09-19 21:07] carlonluca commented on #35
And for the packages I'm sorry but the previous one, as reported by many, was simply wrong, identical to beta1. So I fixed the links.

[2015-09-19 21:22] carlonluca opened #36 "Play not working after pause in beta 2"
Play is no more working after pausing. Will be fixed in beta3.

[2015-09-20 00:13] carlonluca commented on #29
@pavelliavonau I couldn't reproduce any issue with the files you sent me using your sources. Left playing for more than 10 loops. Can you test using beta2? Please check again the version you downloaded because I created a wrong package and there is now an updated version.

@Nightmare204 Can you provide some sample code to reproduce the issue. pocplayer here does not seem to be crashing but you're

[2015-09-21 09:18] sinadogru commented on #35
It is perfectly working thank you so much Luca and Dimovnike

[2015-09-21 09:29] sinadogru opened #37 ".jpg image data V-5.0.0 beta 2"
It seems like (if I dont miss some image packages) .jpg formatted images gives error like this,

"QML Image: Invalid image data: qrc:///assets/loby.jpg"

Here is the sample code,

    Image {
        width: 480
        height: 320
        source: "assets/loby.jpg"
    }

[2015-09-21 09:29] sinadogru commented on #37
btw I have tried with .png and it was working

[2015-09-21 11:22] carlonluca commented on #37
POT only decodes audio and video, not images. Images should be decoded by Qt. If you are using my build it should be using the system libjpeg. But it is not me doing it.

[2015-09-21 12:50] sinadogru commented on #37
Thank you, you are right.

clean Rasbian image misses libjpeg.so.62 which is "libjpeg62" package. So I have downloaded and it is now working.

[2015-09-21 12:51] #37 closed

[2015-09-21 22:22] #36 closed

[2015-09-22 02:05] dimovnike commented on #29
confirmed in Qt-rasp-5.5.0. It can change source only one time, the second time it gives a lot of these in the log (it doesnt stop):

    05:02:30.693 WARNING: One frame couldn't be shown.

the third time (if i change source while it is displaying the above in the log after 10 seconds) it ends up with:

    05:04:59.684 WARNING: No buffer available in any queue.
qmlscene: /home/luca/project/pi/pi/

[2015-09-22 02:12] dimovnike commented on #29
on qt5.4.1 / PI2 i can not switch videos even once, it ends up with:

[code]

here I do hot swaping, direct source change.

[2015-09-22 02:30] dimovnike commented on #29
the code

[code]

[2015-09-22 02:48] dimovnike commented on #29
tested the same QML on PI1 and the result is the same with both qt5.5.0 and qt5.4.1

[2015-09-22 02:51] dimovnike commented on #29
please let me know if you need my videos and QML.

[2015-09-22 07:37] carlonluca commented on #29
I already tried the pocplayer but I couldn't reproduce even with the provided video. Can you provide what is needed to reproduce?

[2015-09-22 10:14] pavelliavonau commented on #29
Luca, thank you very much for update. Beta 2 works fine in my case now. I'll give a feedback if I find new issues.

[2015-09-22 12:55] dimovnike commented on #29
piomxtextures_pocplayer in PiOmxTextures_5.0.0-beta1_pi1 / qt5.5 is affected by this bug. The behaviour is almost indetical to what i described only it lets me change 1 more videos before it crashes.

[2015-09-22 14:20] sinadogru opened #38 "Audio is not playing V-5.0.0 beta 2"
I am not sure but do you guys can have audio playing with qml "Audio" element or with something else? Because I have tried pocplayer and sample codes on the repo with qmlscene and both do not play the audio, I mean there is no any sound.

I have checked if omxplayer does, and yes, there is sound for it.

Here is the command I tried to play audio with qmlscene,
/usr/local/Qt-rasp2-5.5.0/bin/qmlscen

[2015-09-22 14:23] sinadogru commented on #38
Do I need to set something to get volume up maybe?

[2015-09-22 14:58] dimovnike commented on #29
beta2 fixes this. Great job!

[2015-09-22 17:34] carlonluca commented on #38
POT does not play on the jack by default. I plays to the HDMI. Is that working? If you need to play on the jack have a look at 4591c30.

[2015-09-22 17:37] #29 closed

[2015-09-23 06:11] sinadogru commented on #38
I am not sure if POT plays audio over hdmi, I do not have speakers on my hdmi monitor. But I do need to play over jack, and yes it is working! It is working on POCPlayer, and samples with qmlscene and also for my project!

I am sorry, it was my 2nd duplicate subject, I do not have the habit to check solved subject before submitting one. I will do it before I submit new one.

Thank you very much,
S

[2015-09-23 06:11] #38 closed

[2015-09-23 15:04] dimovnike opened #39 "video seek() method goes to different video position"
please see this log:

[code]
as yo usee, it seeks to an earlier point 1321 instead of 5000. Also when i do seek(0) it does:

[code]

note the minus there, is this normal behaviour? The seek(0) doesn't bother me, but seek to a non zero position breaks some QML logic.

Also the underseek is different from video to video. On this video it is about 3.5 seconds, we have other videos with 0.5 under seek

[2015-09-25 23:57] carlonluca commented on #39
Did you try with omxplayer? I suspect the same happens there.

[2015-09-30 21:16] dimovnike commented on #39
i tried vlc :) the result is the same, so closing it.

[2015-09-30 21:16] #39 closed

[2015-09-30 21:22] carlonluca commented on #39
Interesting, I thought vlc implemented a better seek... however yes, this is not so weird. I can probably have a look however at the negative values, those makes no sense.

[2015-10-05 23:13] carlonluca opened #40 "Improved command queue is needed"
An improved command queue is needed.

[2015-10-15 14:59] alanvice opened #41 "QML: second video in playlist is stretched to the size of first played"
First video 1920x1080, second video 1920x768
The second video is played in the viewport size of the first one when fillMode: Image.PreserveAspectFit is selected.

[2015-10-19 22:20] Nightmare204 opened #42 "Path solve error for explicit local files"
I'm working on a project with my qml files in a qrc, but the video files are local.
That's why I need to pass the source strings as "file://home/pi/Videos/......."

The problem is that in this case the path is trimmed as it can be seen in the next debug output
[code]

Looking into the sources I found at omx_mediaprocessor.cpp:
[code]

To get the correct path I have to double the home directory as

[2015-10-19 22:28] atr0n commented on #42
Try with "file:///..." instead of "file://..."

[2015-10-19 22:32] atr0n commented on #41
Try it with fillMode:VideoOutput.PreserveAspectFit. It seems you use the Image version.

[2015-10-19 22:34] carlonluca commented on #42
I don't think your URL is valid. You are missing a slash indicating the root, which results in what @atr0n suggested.

[2015-10-19 22:34] #42 closed

[2015-10-19 22:36] Nightmare204 commented on #42
I'm sorry, my bad!

[2015-10-20 07:22] alanvice commented on #41
just tried it , same behavior.

I forgot to say I'm using the v5.0.0 tag.
As you can see it's the same value:
console.log("VideoOutput.PreserveAspectFit",VideoOutput.PreserveAspectFit);
console.log("Image.PreserveAspectFit",Image.PreserveAspectFit);
Output:
qml: VideoOutput.PreserveAspectFit 1
qml: Image.PreserveAspectFit 1

This is a really bad workaround I tried but seems it hangs after a few ho

[2015-10-20 07:31] atr0n commented on #41
From my experience from other project, it's a good practice add at least one dimension to the videouput. For this propose, you can use meted information.
The following code was used on one of my project:
[code]

[2015-10-20 07:36] alanvice commented on #41
I set the Video component dimensions with:
object.anchors.fill=root
so it takes the root dimensions, and shows correctly on screen

[2015-10-20 15:13] atr0n commented on #41
If you use anchor.fill you are going to get always fullscreen size. Use metadata or fixed value.
Metadata.resolution will always be found as long as you wait the content to be loaded and be referenced to a Video/Image object.
Anyway, I do not thing these is a problem related PiOmxTexture.
Did you make your code work on windows?

[2015-10-20 18:15] alanvice commented on #41
My project works well on windows and linux, even on arm utilite, now i'm trying to make it work on Raspberry.
Your project is fantastic but if you try to play different resolution videos with the flag fillMode:VideoOutput.PreserveAspectFit to keep the right aspect, the viewport will remain the size of the first ever video played. Obviously you don't have to close the program.

Try this over a rasp

[2015-10-20 18:36] atr0n commented on #41
Ok, my bad.
The code I posted do not work(at least that's what I guess after a quick review) because "resolution" in not into OMX_MetaDataProvider::onUpdateRequested function.
Could you try something? Try to anchor your "object" item as centerIn: parent. Then, manually insert 1920x1080 at the first video and  1920x768 at the second.
Let's see if at least this work manually.

[2015-10-21 08:12] alanvice commented on #41
OK, I will try to manually insert dimensions...
Now i have taken some screenshots from my raspberry using pocplayer:
First execution, first video 1920x768, second video 1920x1080
![video1-first](https://cloud.githubusercontent.com/assets/9517255/10631036/6587579a-77db-11e5-8cbd-bc9af00a6d53.png)
![video2-second](https://cloud.githubusercontent.com/assets/9517255/10631035/6585ac1a-77db-11e5-9a4a-2f

[2015-10-21 10:11] alanvice commented on #41
I've done the test resizing the Video component manually to the video native size.
All video tested are mp4/h264-aac.
Don't look at the DIVX logo because I re-encoded all the videos.

Code used:
    import QtQuick 2.0
    import QtMultimedia 5.0

    Rectangle {
        id: root
        width: 1920
        height: 1080
        color: "black"
        property var object

        property int index:

[2015-10-23 13:11] sinadogru opened #43 "instantiate a MediaPlayer with 'volume: 0.0'"
I am trying to instantiate a MediaPlayer item with volume property setted to '0.0' but there still audio. But if I instantiate its muted property as true, then there is no volume.

And also when I put volume to '0.0' after video start to playing, the effect of it on volume is not same as like the effect of 'muted: true', there is still little volume on.

Thank you,
Sina

[2015-10-25 13:20] carlonluca commented on #41
You should find the fix for this in the next release. For the start position issue please file another report with a description on how to reproduce (I tried to reproduce but I failed).

[2015-10-25 13:21] #41 closed

[2015-10-25 23:22] carlonluca commented on #43
You should get the fix for the issues in the next release. Please reopen if needed.

[2015-10-25 23:22] #43 closed

[2015-10-26 05:36] sinadogru commented on #43
Ok thank you

[2015-10-27 15:40] alanvice opened #44 "Video Start position"
Here is a complete demo to reproduce the bug (expires in 48 hours):
http://expirebox.com/download/2ab22febf1987beda8aa7944e819b01a.html

It seem related to the profile / level used to encode the video file.
As you can see  in the demo ah h264 file encoded with ffmpeg and the parameter "-profile:v high -level 40" causes the video to start skipping the very first part of the video.
Same video encode

[2015-10-27 19:22] carlonluca commented on #44
Ok, I'm able to reproduce. I'll have a look. Thank you.

[2015-10-30 19:30] carlonluca commented on #44
You should see the fix in the next release. Please reopen if necessary.

[2015-10-30 19:30] #44 closed

[2015-11-21 20:04] ben80 opened #45 "Video stops and restarts automatically after a f ew seconds"
Hi Luca,

after a few seconds, my videos stop and restart automatically. This repeats indefinitely.
I am using the binaries of POT 5.0.0 (Pi1, wheezy).

Command to run video:
 /usr/local/Qt-rasp-5.5.0/bin/qmlscene /home/pi/piview/lib/samples/video_simple.qml file:///home/pi/piview/lib/samples/big_buck_bunny_1080p_h264.mov

Log, see attachement.
Do you have any idea, why this happens?

Thanks for y

[2015-11-22 01:49] carlonluca commented on #45
End of media is reached. Can you provide that specific file?

[2015-11-22 19:40] ben80 commented on #45
ok, i did some further tests.
I have no idea why it happened, I did a reboot and now the videos play all the way to the end.
Cannot reproduce it any more.
I think you can close this issue. If i can reproduce it, we can reopen it.

Thanks anyway.

[2015-11-22 23:05] #45 closed

[2015-11-30 12:09] RSATom opened #46 "[question] did you try use other frameworks?"
like GStreamer/libvlc? If yes, by what reason (reasons) did you prefer omxplayer?

[2015-11-30 12:57] carlonluca commented on #46
At the time I started none was providing what I needed, including omxplayer. The project uses openmax.

[2015-11-30 12:57] #46 closed

[2015-11-30 13:59] RSATom commented on #46
So it's http://thebugfreeblog.blogspot.it/2013/01/custom-qml-component-for-hardware.html just outdated info? Do you use ffmpeg directly?

[2015-11-30 18:33] carlonluca commented on #46
No, it is still valid. It says I'm leveraging code from omxplayer, properly patched and integrated. So POT uses openmax and ffmpeg directly, and includes all the related code.

[2015-12-01 05:06] RSATom commented on #46
Understand. Is this code necessary to have hardware accelerated QML on RPi or it's only related to video playback?

[2015-12-15 15:16] sinadogru opened #47 "palette blinking on the upper left corner"
I am not sure if this is the POT problem or even an issue, but there is a mini square color palette blinking on the upper left of my screen on every time a video starts. I guess it did appeared after I update my pi with rpi-update.

Is there anyone also having this?
If yes, is there a any way to disable it?

[2015-12-15 15:18] keytee commented on #47
Dear sinadogru,

If you are using rPI 7 inch display, it means you have low power. Try to add external power to it or a stronger 5v power supply.
Tibor

[2015-12-15 16:09] sinadogru commented on #47
Ah keytee, Thank you so much :)
It is solved.
Cheers,
Sina

[2015-12-15 16:09] #47 closed

[2015-12-18 08:19] sinadogru opened #48 "MediaPlayer QML type error signal"
Hello,

I guess MediaPlayer type is suppose to emit a 'error' signal if it encounters an error. But on POT, for example if the source property contains an invalid media url, while implementation gives a debug output which shows the error like,

08:15:54.262 ERROR: Failed to open source /home/pi.

but on the qml side, error signal is not emitted. Here is a simple code,

    MediaPlayer {
        id

[2015-12-18 09:19] sinadogru commented on #48
UPDATE: and if I am not wrong, player.status also supposed to be MediaPlayer.InvalidMedia, which is not if the given source property was invalid.

[2015-12-19 00:04] LucaCarlon commented on #48
Yes, not all the signals are implemented. I'll add this as well.

[2015-12-19 00:08] carlonluca commented on #48
Yes, not all the signals are implemented. I'll add this as well.

[2015-12-29 20:54] Nightmare204 opened #49 "Streaming was working before V5.0.0"
Luca, you recently mentioned in the blog that "At the moment the code is pretty close to be ready to play remote streams including https"
http://thebugfreeblog.blogspot.com/2015/11/fully-optimised-raspbian-jessie-with.html?showComment=1450740707138#c3733828862728817809

I remember that in older versions, maybe before V5.0.0, POT was able to handle streamings...
I even checked in some of my old tes

[2015-12-29 23:19] carlonluca commented on #49
It is very likely you are true, I didn't say it wasn't possible to play remote streams. I'm saying it is not ready. Buffering was implemented but never tested and never included in builds. I never tested anything other than local files.

[2016-01-03 18:13] metropt opened #50 "prepare_3rdparty.sh qt_src_root"
qt_src_root in pi/piomxtextures_tools/prepare_3rdparty.sh isn't been used.

[2016-01-03 21:33] carlonluca commented on #50
Not sure what you mean sorry.

[2016-01-03 21:38] metropt commented on #50
[code]
qt_src_root isn't been using anywhere on that file.

[2016-01-03 21:52] carlonluca commented on #50
echo "SRC_DIR=$1" > "$THIS_DIR/../piomxtextures_qt_driver/mediaplayer/.qmake.conf"

[2016-01-05 22:49] #50 closed

[2016-01-12 17:07] Nightmare204 commented on #49
Could you guide me where should I look in the code to make the streaming available again?

[2016-01-12 18:42] carlonluca commented on #49
I'm sorry but not at the moment. I was doing this but I had to stop. I'll probably release something in this sense.

[2016-01-12 19:22] Nightmare204 commented on #15
@carlonluca Is there some limit on simultaneous videos? Today I tested with 5 and just 4 of them reproduced. Is this related with the buffers available?

I tested overclocking my Pi2 and giving a lot of Memory to GPU and I can always only get 4 simultaneous videos.

Of course I know this isn't interesting for UHD or HD videos, but I'm using low quality videos 320x180

[2016-01-12 19:29] carlonluca commented on #15
Not that I know. Only limitation I know is that GPU memory must be sufficient. Each player allocates 4 buffers, so allocating 5 players results in 20 buffers and textures. Can't think of other limitations.

[2016-01-12 22:25] Nightmare204 commented on #15
From the 5th player or more I only get:
[code]

Normally, if the video where played I would get the following logs, at the end of the play:
[code]

I'm giving 800Mbts to GPU, and the same issue happens if I split only 256Mbts...
Checking with htop shows there isn't high CPU load...

And my final test was to use different applications, but If I start 3 players in one, only one more can be started i

[2016-01-12 23:15] carlonluca commented on #15
I don't see anything clearly wrong from the logs. Can you provide full logs and a sample QML as simple as possible reproducing the bug?

[2016-01-13 00:16] Nightmare204 commented on #15
The file attached as a simple project showing this bug, and 2 log files, but there aren't logs that evidence the behavior (only 4 players start) ... As you will see I just compiled POT again today.

[VideoTests.zip](https://github.com/carlonluca/pi/files/88182/VideoTests.zip)

I also upload my test video...
[180p_SONY.mp4.zip](https://github.com/carlonluca/pi/files/88190/180p_SONY.mp4.zip)

[2016-01-13 15:32] Nightmare204 commented on #15
I tested the qml with qmlscene and in this case (sometimes) 5 players start... but never 6

[2016-01-14 09:34] Djoulez opened #51 "ERROR: Failed to create KHR image: 12300"
Hi,

In this simple example, I create/destroy the mediaplayer dynamically. After some times, I always got this error:

09:14:08.076 INFORMATION: Instantiating texture data...
09:14:08.096 INFORMATION: Creating EGLImageKHR...
09:14:08.096 INFORMATION: Instantiating texture data...
09:14:08.532 INFORMATION: Creating EGLImageKHR...
09:14:08.533 INFORMATION: Instantiating texture data...
09:14:08.553

[2016-01-14 11:47] sinadogru commented on #51
It is also happening to me, I was just going to declare an issue about it.

[2016-02-03 11:10] floouuu commented on #51
I think this has something to do wih running out of video ram.
To see how much video memory is allocated right now (in bytes) you can run `sudo vcdbg reloc |grep "\[" | awk '{split($0,a," "); print a[12]}' | awk '{split($0,a,","); print a[1]}' | awk '{sum+=$1}END{print sum}'
`
I experienced similar behavior when using the Video component. I wrote a simple video player, that plays urls from a xml f

[2016-02-03 11:13] floouuu commented on #51
I took a short look, but I guess too short, but I noticed that in `openmaxilplayerservice.cpp` contructor many variables are allocated, but I didn't find where they a freed again. It's just a shot into the blue.

[2016-02-03 12:30] Nightmare204 commented on #51
@floouuu Does the same happens if you reuse the QML Component without reloading it in the Loader?

I have tested long term loop playback using a playlist and I've found this kind of problem is really related to dynamic creation of new video component with a Loader

[2016-02-03 12:42] carlonluca commented on #51
The fix will be available shortly.

[2016-02-03 12:49] floouuu commented on #51
@Nightmare204 Thank you for the hint. I am abroad now, but I will test this as soon as I am home again - which will be arround tomorrow evening. I will let you know!
@carlonluca Thank you!

[2016-02-07 01:31] carlonluca commented on #51
Someone who can test the [new build](http://thebugfreeblog.blogspot.it/2016/02/binaries-for-hardware-accelerated-qt.html)?

[2016-02-07 22:39] carlonluca commented on #49
@Nightmare204 Can you please have a look at [this build](http://thebugfreeblog.blogspot.it/2016/02/binaries-for-pot-510-with-remote.html) which includes streaming?

[2016-02-09 12:32] davidpez1019 commented on #15
Hi Luca, actually i'm working with @Nightmare204, We tested the new build, but I only can reproduce 6 videos simultaneously the 7 video fails when I try reproduce it, this happens when the program is running with qmlscene, running the program from Qt only reproduce 4 or eventually 5 videos at max.

In other side when we try do streaming of a .3gp video it fails, we tested with .mp4 and .sdp videos

[2016-02-09 13:27] Nightmare204 commented on #49
Hi @carlonluca... streaming for mp4, mov and h264 video formats is working fine with the new build, but there are issues with some video extensions:

We tried with this [small.3gp](http://techslides.com/demos/sample-videos/small.3gp) video, and the streaming started but failed after a coule of frames. The big problem is that even restarting the program with another video (local, streaming and any

[2016-02-09 19:11] carlonluca commented on #49
That 3gp file seems to contain a h263 stream, so you won't be able to decode it with this GPU, I don't think there is a decoder for it. If other worked fine it probably means the others contained h264. 3gp can contain both encodings.

I never tested mjpeg streams. It is probably buffering however. Can you provide one?

Do you have a sample of avi video not working?

[2016-02-09 20:31] davidpez1019 commented on #49
Hi @carlonluca The video https://archive.org/download/test-mpeg/test-mpeg.mpg for streaming reproduce in a similar way to mjpeg stream. At moment I can't provide you a real mjpeg stream.
@Nightmare204  We try using this .avi video [VideoTest.zip](https://github.com/carlonluca/pi/files/123700/VideoTest.zip) for .avi video its reproduce but sometimes suddenly stops.

[2016-02-09 21:00] carlonluca commented on #49
That does not seem to be mjpeg but mpeg1. It is not the same.

[2016-02-17 08:01] carlonluca commented on #49
@Nightmare204, @davidpez1019 Are you currently using this build? Even for local files?

[2016-02-17 13:34] Nightmare204 commented on #49
Hi @carlonluca... We tested the build, but we are not using it permanently. This is because we have a lot of work donw in qt5.5.1 and we have to stay in stable comertial version  of Qt, and the last one is that.
I don't know if the git sources have this improvement uploaded, and if so we could compile them in qt5.5.1 and give them a longer test.
However in the tests made to the build we used strea

[2016-02-17 13:51] Nightmare204 commented on #49
@carlonluca  About the mjpeg streamings you can try with any of the ones [here](http://www.mjpeg.net/), for example this [http://80.38.183.149:2000/mjpg/video.mjpg](http://80.38.183.149:2000/mjpg/video.mjpg)

[2016-02-26 14:03] Nightmare204 commented on #51
Hi @carlonluca... I'm doing some long test on my code and I'm using POT 5.1.0
Are the fixes for POT 5.2.0 commited already?

[2016-02-26 14:38] Nightmare204 commented on #25
@carlonluca IDK if this issue is related to #51.

I have a QQuickView wich load a video player in qml. As with EGLFS we don't have "window management" and therefore can't have applications that are not fullsize or are topmost, I decided to Close and Show the QQuickView which I found places the GUI in front.

I'm not using deleteLater(), but I reuse the same QQUickView. However after 20 to 25 "Clos

[2016-02-27 00:11] LucaCarlon commented on #51
Sources for 5.2.0 will be committed in a few hours.

[2016-02-27 00:12] carlonluca commented on #51
Sources for 5.2.0 will be committed in a few hours.

[2016-02-27 00:14] carlonluca commented on #25
Possible, but I never had time to try to reproduce this. Do you have a short code to reproduce?

[2016-02-27 01:38] carlonluca commented on #51
Committed.

[2016-02-27 14:02] alvarolaracano commented on #48
Hi. Is the property duration and onDurationChanged signal implemented as well??

[2016-02-27 14:13] carlonluca commented on #48
Probably not. You can file a bug report for that as well if you don't get the signal.

[2016-02-27 17:32] alvarolaracano opened #52 "Duration atribute is not trigerred once changed"
I have just made a simple program using PiomxTextures. I need to know current media duration in order to trigger an event and this attribute changes asynchronously, so in desktop mode i am using onDurationChanged to dispatch event. But this is no longer working in Piomxtextures.

MediaPlayer {
        id: player
        autoPlay: false
        onDurationChanged: {
            console.log('Duration

[2016-02-27 17:45] atr0n commented on #52
Maybe you can try to get the duration from metadata and then, make you own countdown counter.

[2016-02-27 18:22] alvarolaracano commented on #52
In fact i need to trigger an event when the duration metadata is loaded, and i am achieving this using onDurationChanged in desktop mode.

[2016-03-02 21:44] Nightmare204 commented on #51
I tested again the 5.6 build and I got some weird behavior:

After several loops (More that 8 hours) between 2 videos of 15 sec the player just stopped with segmentation fault.
If I restart the same player program It fails immediately after starting any video.

[code]

However if I play the video with omxplayer it reproduces normally.
I noticed that one of the videos seem to finish in a bad frame,

[2016-03-02 22:18] carlonluca commented on #51
Can you reproduce with a minimal QML looping the video? Can you run on gdb?

[2016-03-13 00:22] carlonluca commented on #52
Build 5.2.1 should include the signal. Reopen if needed.

[2016-03-13 00:22] #52 closed

[2016-03-13 00:24] carlonluca commented on #51
Closing the issue untile someone provides a sample to reproduce. Feel free to reopen.

[2016-03-13 00:24] #51 closed

[2016-03-23 22:00] cristeab opened #53 "Could not create the ego surface: error = 0x300b"
Hi

I am using Qt5.6.0-RC1 downloaded from here http://thebugfreeblog.blogspot.ro, but when I run my application I get the above error. It seems that I am using the wrong display manager. Could anyone explain how to solve this problem ?

thanks
Bogdan

[2016-03-23 22:18] #53 closed

[2016-03-24 09:30] floouuu commented on #51
Hi,
I'm sorry for the very late response - work, you know :/
@Nightmare204 I figured out that this only happened when the Video was loaded through a Loader component. When using the Video Component directly, I couldn't discover any issues with the 5.6 image from the post of March 12th 2016. @carlonluca  Video ram also seems to remain stable with your fixes.

[2016-03-29 10:58] floouuu opened #54 "Keyboard not working in 5.6.0-rc1 build"
Hello,

I noticed that the keyboard is not working for me in the Qt 5.6.0-rc1 build. For debugging purposes, I set the environment variable `export QT_LOGGING_RULES=qt.qpa.*=true`. When starting my qml application, I get the following log lines:

[code]

Looks like the hardware is found, but the mapping does not work. I installed libxkbcommon0 and also libxkbcommon-x11-0 on the pi, but I still got

[2016-03-29 11:11] floouuu commented on #54
Also from http://blog.qt.io/blog/2015/11/17/embedded-linux-news-in-qt-5-6/

Kind regards, Florian

[2016-03-29 11:31] floouuu commented on #54
It's me again :-)

BTW, a quick workarround for the problem is setting the environment variable `QT_QPA_EGLFS_NO_LIBINPUT` at runtime:
[code]
Kind regards, Florian

[2016-04-15 22:40] MrCustomizer opened #55 "Cannot compile"
I've tried compiling the projects for the Pi 1 by using the `prepare_3rdparty.sh` and `prepare_openmaxil_backend.sh` scripts, but I've run into several problems:

`prepare_openmaxil_backend.sh` expects the compiled result of ffmpeg in `../3rdparty/ffmpeg/lib` (line 25). But the files are in `../3rdparty/ffmpeg/ffmpeg_pi1`.

The next problem, I ran into, has to do with the GLES-includes. I get a lo

[2016-04-15 22:43] MrCustomizer opened #56 "#!/bin/sh in prepare_openmaxil_backend not in the first line"
Please move the line `#!/bin/sh` to the beginning of the file `prepare_openmaxil_backend`. Otherwise, you are not able to run this script from inside other shells, like for example fish.

[2016-04-18 06:48] atr0n commented on #55
I extract this from a comment "official" blog: http://thebugfreeblog.blogspot.com.es/p/build-procedure-for-piomxtextures.html

`- Next I had to deal with the same gles3 header problem as you had - weird, because the qtbase was configured with -opengl es2. Anyway that's how I've fixed it:
~/raspi/qt5pi/include/QtGui/qopengl.h:
//manually undef this guys...
#undef QT_OPENGL_ES_3_1
#undef QT_OPENGL_E

[2016-04-18 15:40] MrCustomizer commented on #55
Oh, didn't see that comment. It will be a few days until I will have time to test it, but I will come back here, when I've tried it and report, if this is working.

Thanks in advance for that hint.

[2016-04-22 19:49] MrCustomizer commented on #55
@atr0n I seem to be able to compile the project with your advice and the changes in the referenced pull request. Thanks a lot.

But now I'm running into the next problem. The script prepare_openmaxil_backend.sh tries to copy some files after the compile finishes, but does not find the paths:

cp: cannot stat 'build-PiOmxTextures/libPiOmxTextures*': No such file or directory
cp: cannot stat 'build-

[2016-04-23 15:19] carlonluca commented on #55
prepare_openmaxil_backend.sh is old and not used anymore. Unless you are trying to build an old version follow the latest suggested procedure: http://thebugfreeblog.blogspot.it/p/build-procedure-for-piomxtextures.html. It is far simpler now.

[2016-04-23 15:21] carlonluca commented on #56
This was intentional. Other shells are not supported. If you want to use those it may work but the only supported one is that.

[2016-04-23 15:21] #56 closed

[2016-04-23 16:03] MrCustomizer commented on #55
Oh, ok. I read the instructions, but I didn't realize the script is outdated. So i should build the plugin directly with qmake, correct? Which subproject is the Qt plugin? Is it piomxtextures_lib or piomxtextures_qt_driver?

[2016-04-23 16:08] atr0n commented on #55
You should build piomxtextures_qt_driver with qmake (as a normal qt module) and the rebuild the qt multimedia module.

El 23/4/2016 6:03 p. m., MrCustomizer <notifications@github.com> escribió:

Oh, ok. I read the instructions, but I didn't realize the script is outdated. So i should build the plugin directly with qmake, correct? Which subproject is the Qt plugin? Is it piomxtextures_lib or piomxt

[2016-04-23 16:09] MrCustomizer commented on #55
Oh, so the Qt Multimedia patch is still needed? Your link mentions at the top, that this is not necessary any more.

[2016-04-23 16:13] atr0n commented on #55
Opps, I have never done it without patching. I think we need to do a README file including the whole new procedure.

El 23/4/2016 6:09 p. m., MrCustomizer <notifications@github.com> escribió:

Oh, so the Qt Multimedia patch is still needed? Your link mentions at the top, that this is not necessary any more.

—
You are receiving this because you were mentioned.
Reply to this email directly or view

[2016-04-23 17:03] MrCustomizer commented on #55
I'm having trouble with building the project by using qmake. The system always complains about a missing `.qmake.conf` file. Any advice?

Steps to reproduce:
1. Change to directory `piomxtextures_qt_driver`
2. Run `qmake`
3. Run `make`

Error output:
[code]

[2016-04-23 17:13] MrCustomizer commented on #55
OK. It seems, this error can be prevented by running `qmake ../` instead of `qmake`.

[2016-05-01 20:08] sk2212 opened #58 "Also useable for Android devices?"
Amazing! It seems that it is possible to display 1080p videos on a Raspberry Pi.

So is there a possibility that the code of this project can be used to display HD content also on an Android device?

[2016-05-02 09:10] sinadogru opened #59 "[POT 5.6 RC1] MediaPlayer autoPlay property keeps playing last source"
To mimic the bug, please try a MediaPlayer with a mp3 (I am not sure if this bug is related with mp3's.).

[code]
Even loops property setted to 1, on stopped handler, assigning source to empty string does not cause to MediaPlayer stops. What I mean it keeps going to play last source, "sin.mp3".

After few tries to find out where is the exact problem is, I guess I detected it because of the autoPla

[2016-05-06 17:44] carlonluca commented on #58
Qt already has a backend working on many Android devices.

[2016-05-06 17:44] #58 closed

[2016-05-06 17:44] carlonluca commented on #55
So I suppose it is ok to close this.

[2016-05-06 17:44] #55 closed

[2016-05-07 19:10] #40 closed

[2016-05-08 12:29] MrCustomizer commented on #55
Well, in the end I still haven't been able to compile the project. qmake complained about missing qmake.conf files or something like that. But I have moved on for the moment and I am not still trying to compile the project, so I guess it's OK to close the issue.

[2016-05-08 12:57] carlonluca commented on #55
Add a file named .qmake.conf in piomxtextures_qt_driver/mediaplayer containing the line: "SRC_DIR=<path_to_qt_sources>".

[2016-05-08 17:28] MrCustomizer commented on #55
Thanks for the advice, I will try that.

[2016-05-09 08:33] sk2212 commented on #58
What? Can you please show me the QT backend which is able to play 1080p media files on an Android device?

[2016-05-09 17:54] carlonluca commented on #58
The official Qt backend can assuming the device is powerful enough, which means most recent devices.

[2016-05-09 18:01] atr0n commented on #58
Also, I remember there were some issues back on qt5.4. Video playback only worked via QtQuick and Video object. I don't know if they solved.
Anyway, qt5.7 looks promising for android since they are including material desing guideline and other stuff. Maybe they will improve qtmultimedia.

El 9 may. 2016 7:54 p. m., Luca Carlon <notifications@github.com> escribió:

The official Qt backend can assum

[2016-05-16 17:44] metropt opened #60 "No output on h264 480p Video"
Hi,

I have tried the following video http://download.blender.org/peach/bigbuckbunny_movies/big_buck_bunny_480p_h264.mov and even if it says it is playing nothing show on the screen: http://pastebin.com/LEFEc6wp

Thank you

[2016-05-21 11:25] SylvainGarrigues opened #61 "Compiling with Clang on FreeBSD"
I could patch almost everything but I couldn't fix the one below. Any idea?

 --- piomxtextures_pocplayer ---
c++ -Wl,-rpath-link,/usr/local/lib -Wl,-rpath-link,/usr/local/lib -pthread -Wl,-rpath,/usr/local/qt5/lib -o piomxtextures_pocplayer main.o  poc_qmlutils.o  poc_utils.o  poc_uptime.o  qrc_resources_qml.o  qrc_resources_imgs.o  moc_poc_qmlutils.o  moc_poc_uptime.o   -L/../lib/ -L/usr/local/l

[2016-05-21 13:08] #61 closed

[2016-06-21 18:13] metropt commented on #60
Teste again on last POT build and the problem still exist but now it gives an insuficient resources error.
1080p and 720p works ok.

[code]

[2016-06-30 15:32] atr0n commented on #49
I have tried the link that @Nightmare204 post and it's not working. Also I have given a try to an udp multicast signal. Both ended up with the same result: "Failed to open source .".
If I am not wrong, streaming signals was working in old versions, right?
Is there any change to bring it back? Maybe you can point me out to somewhere in order start working on a fix.
Thanks,

[2016-07-03 09:49] carlonluca commented on #49
Can you try to explain exactly what you are trying to achieve? What version of POT are you using? What stream are you trying to play? How are you trying to play it? Do you have a minimal sample to reproduce?

[2016-07-03 10:43] atr0n commented on #49
Sure! Two years ago I brought this device: http://www.tbsdtv.com/products/tbs2923-moi-plus.html
It converts the TV signal into a multicast IPTV (powered by tvheadend). It allow me to have IPTV over my local network. Also, I have brought a IPWebcam (which is allocated on my house roof).
I was using an old version of POT and I was allow to watch my tv channels & live camera through a qt program on m

[2016-07-09 23:44] atr0n commented on #49
Wow... I should read your blog before writting the above comment! I was testing the non-beta version.
Sorry about that.

[2016-07-10 18:32] modjo756 opened #62 "Trying to open rtsp flux from pocplayer"
Hi i'm trying to open a rtsp video flux from piomxtextures_pocplayer like this :
./piomxtextures_pocplayer "rtsp://user:password@192.168.xxx.xxx/video.pro1"
this work fine and i can show the video on the rasp (with the binary file provided with your last image qt5.6) !
Now, i have downloaded the source of piomxtextures here and compile it to build my own app.
this compile fine, but when i try to o

[2016-07-11 00:27] carlonluca commented on #62
If you are referring to 5.3.0-beta1 then yes, it is not yet available on github. Latest tag available is 5.2.2.

[2016-07-11 07:20] modjo756 commented on #62
Ok thanks for your answer. Do you have an idea when you have the time to push this version on gitHub ? Because it works very fine to access ip cam video !!!

[2016-07-11 08:52] carlonluca commented on #62
I'm about to release a new version. Once it is done I'll upload the sources. A few days probably.

[2016-07-11 09:07] modjo756 commented on #62
Thank's a lot for your answer and your work ! Thanks also for the build of senseHat Qt module, i will test it this week and let you know !
Otherwise, for the new release, do you plan to build Qt 5.7 ?

[2016-07-25 17:36] carlonluca commented on #62
Sources are now on github. Should I close this issue?

[2016-07-26 07:09] modjo756 commented on #62
yes you could ! And thanks for your share !!!

[2016-07-26 11:06] #62 closed

[2016-07-26 11:08] #49 closed

[2016-09-04 08:33] ivlevdenis opened #64 "Compile docs"
Please write full docs for compile Qt5+piomxtextures.

[2016-09-05 12:03] ivlevdenis opened #65 "Please not use lrzip tool"
He is very very slowest. On my laptop for decompress archive with image neded 3 hours 👎
Very effective comand's:
[code]

[2016-09-15 22:19] carlonluca commented on #65
7z is a good tool, but that results in archives tens of megabytes larger. Maybe in the future, I don't know.

[2016-09-15 22:19] #65 closed

[2016-09-15 22:20] carlonluca commented on #64
It is a regular Qt plugin now. Not sure if docs are needed.

[2016-09-27 12:25] Djoulez opened #66 "Audio issue when adding webengine in project"
Hello,

I got audio issue with POT when I simply add
QT+= webengine in my pro file

Without webengine added, the sound is correct but as soon as the webengine is added, the sound is awfully noisy.

I tested on both PiOmxTextures_5.4.0-beta1_pi2_jessiel_5.7.0 and POT 5.2.1

Do you have the same behaviour ?

Here is a small test project that replicates the issue (just replace the path to a video of

[2016-10-04 15:32] tantowiee commented on #64
how about this error ?
i'm using qt 5.3.2 on raspberry pi, can u help me

Project ERROR: Unknown module(s) in QT: websockets webchannel
Project ERROR: Unknown module(s) in QT: websockets webchannel
Project ERROR: Unknown module(s) in QT: multimedia quick-private
Project ERROR: Unknown module(s) in QT: multimedia quick-private
Project ERROR: Unknown module(s) in QT: multimedia
Project ERROR: Unknow

[2016-10-05 07:01] carlonluca commented on #64
It seems you are missing many modules and you'll see Qt 5.3 is not supported. Qt >= 5.5 is needed.

[2016-10-05 07:01] #64 closed

[2017-01-06 12:51] carlonluca commented on #66
Please have a look at the new release. It seems audio now works properly in WebEngine. Open again if needed.

[2017-01-06 13:21] floouuu commented on #54
Since the workarround is working quite nice for some time now, I will close the issue.

[2017-01-06 13:21] #54 closed

[2017-01-09 09:59] Djoulez commented on #66
Hi,

In fact the issue is not directly in webengine but in MediaPlayer.

Simply by adding QT+= webengine in the pro file (even without using it at all in the project), the sound is broken in the QML MediaPlayer object.

I tested with the new release but the problem remains.

Kind Regards,

Julien

[2017-03-25 13:01] carlonluca commented on #66
The problem is that two versions of ffmpeg are loaded when QtWebEngine is linked. Next build will fix this.

[2017-03-25 13:01] #66 closed

[2017-04-29 08:24] atr0n opened #68 "Video streaming signal lost"
While playing a streaming video, if the signal is cut off for any reason, no signal is emitted, neither error signal nor status signal (buffering, end of media, etc.).
So, there is no way to know if the video is playing or it just ger freezed.

[2017-04-29 09:58] carlonluca commented on #68
Yes, maybe the MediaPlayer.NetworkError should be added?

[2018-02-20 23:43] sagiadinos opened #69 "Any chances to get piomxtextures_pocplayer_widget work?"
Hello Luca,

I compiled piomxtextures_pocplayer_widget with last binaries (POT 5.7.0 with Qt 5.10.0) and try to start a video. No error occurs, but video did not play and it shows a white screen with a red rect.
The QML based piomxtextures_pocplayer works fine.

Did I miss something or is there no QWidget support?

Kind regards

[2018-02-24 14:34] carlonluca commented on #69
Yes, no support for widgets. I don't think it makes sense to spend time on implementing this for widgets nowadays, so I don't think I'll do, sorry.

[2018-03-03 16:38] sagiadinos commented on #69
Hello,
thank you for answering. No need for sorry it is understandable ... unfortunately it makes sense for me. ;).
Kind regards

[2018-06-18 21:06] #69 closed

[2018-09-24 18:36] koolkhel commented on #60
@metropt it didn't like 853 pixels width. It expects even height and width

[2019-01-17 09:35] micha1pu opened #70 "ALSA support help"
Hi, Im trying to get ALSA support via hifiberry sound card on YOCTO. Im using initial ALSA support https://github.com/popcornmix/omxplayer/pull/463/files and i updated files in POT piomxtextures_src and added -lasound in PiOmxTextures.pro and piomxtextures_src.pri in same folder. Also addet new "alsa" to AUDIO_OUT in omx_mediaprocessor:
`	else if (a == QByteArray("alsa"))
		m_audioConfig->device =

[2019-01-17 09:43] micha1pu commented on #70
just forgot to say with `omxplayer -o alsa /boot/VIDEO/big_buck_bunny_720p_h264.mov` im getting sound

[2019-06-25 07:09] gurtajs4 opened #71 "Render Camera Preview Video into QT"
Hi Luca,

Thanks for such a nice library and sample application.
I am planning to use POT for rendering live video from Raspberry PI Camera along with some overlay on top of Video Feed.

Ideally this should be possible?
Can you give me some idea on how this can be achieved...
I am planning to use https://github.com/gagle/raspberrypi-omxcam which can provide data from camera in h264/RGG/YUV format.

[2019-06-25 21:56] carlonluca commented on #71
Hello,
it should be possible. There probably is a camera component. I've never used it anyway, sorry.

[2019-08-16 23:59] #71 closed

[2019-10-10 15:25] keytee opened #73 "Raspberry 4 + Buster"
Dear Luca, do you plan to support rpi4? Thanks!

[2019-10-11 18:39] carlonluca commented on #73
Hello, I suppose no support will ever be possible for rpi4, sorry.

[2019-10-14 06:20] #73 closed

[2022-01-14 16:17] matzrm opened #74 "POT VL : QThread Destroyed while thread is stillrunning"
Sometimes, closing the player I have this error:
` QThread Destroyed while thread is stillrunning`

Is there any way to safely close a potvl dynamically instanced?

[2022-01-15 11:49] carlonluca commented on #74
I think I did that in some projects, but if that error comes from POTVL, maybe there is a regression. Unfortunately I do not know if a workaround exists, but it may not be very difficult to fix it.